<div class="container" >
  <div class="row caption-title w-100">   
   <h4>SpaceX Launch Programs</h4>
  </div>
  <div class="row">
    <div class="sidebar fix-header pb-2">  
    <app-card-filter-component (filterObject)="handleFilterRequest($event)"></app-card-filter-component>
    </div>
    <div class="content fix-content">
      <app-cards-component [cardsData]="programs"></app-cards-component>
    </div>
  </div>
</div>
<footer class="footer">
</footer>
<app-loader-component></app-loader-component>
